<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row m-b-lg m-t-lg">
    <div class="col-md-8">
      <table class="table small m-b-xs">
        <tbody>
        <tr>
          <td>
            Name <strong><%= @final_status.name %></strong>
          </td>
        </tr>
        <tr>
          <td>
            Status <strong><%= @final_status.status %></strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= link_to 'Edit', edit_admin_final_status_path(@final_status), class: 'btn btn-sm btn-white m-t-n-xs' if admins? %>
  <%= link_to 'back', admin_final_statuses_path, class: 'mergin-left btn btn-sm btn-white m-t-n-xs' %>
</div>
