.profile-picture {
  cursor: pointer;
  height: 200px;
  width: 200px;
}
.margin-left{
  margin-left: 10px;
}
.margin-right{
  margin-right: 10px;
}
.margin-top{
  margin-top: 10px;
}
.margin-bottom{
  margin-bottom: 10px;
}
.user-role-radio{
  margin-left: 20px;
}
.service_centers-new{
  .p-xl{padding: 10px}
}
.landing-page .carousel-image.wow.zoomIn.animated > img {
  height: 320px;
  width: 550px;
}
.carousel-control .fa-arrow-left, .carousel-control .fa-arrow-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  display: inline-block;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  z-index: 5;
}

.glyphicon-chevron-right::before {
  content: "";
}
*::after, *::before {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}
.carousel-control .fa-arrow-right, .carousel-control .icon-next {
  margin-right: -10px;
}
.carousel-control .fa-arrow-left, .carousel-control .icon-prev {
  margin-left: -10px;
}
.carousel-control .fa-arrow-left, .carousel-control .fa-arrow-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  font-size: 30px;
  height: 30px;
  margin-top: -10px;
  width: 30px;
}
.landing-page .features-block{
  .img-responsive.pull-right {
    padding: 55px;
  }
}
#side-menu{
.nav-second-level li a {
  padding: 4px 10px 4px 52px;
}
  li > a {padding: 5px 20px 5px 25px}
}
body{
  .onoffswitch-inner:before {
    content: "Active";
  }
  .onoffswitch-inner:after {
    content: "Inactive";
  }
  .onoffswitch{width: 70px}
  .onoffswitch-switch{right: 52px}
}
.switch .onoffswitch{
  #example11 .of-lab-11{
    .onoffswitch-inner:before {
      content: "Warranty";
    }
    .onoffswitch-inner:after {
      content: "No-warranty";
    }
    .onoffswitch{width: 70px}
    .onoffswitch-switch{right: 52px}
  }
  #example12 .of-lab-12{
    .onoffswitch-inner:before {
      content: "Full-Boxed";
    }
    .onoffswitch-inner:after {
      content: "No Box";
    }
    .onoffswitch{width: 70px}
    .onoffswitch-switch{right: 52px}
  }
}
.loop-chk-b {
  font-family: Lucida Console;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
}