<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title><%= "Invoice | #{@repair_order.id}" %></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag '//code.jquery.com/jquery-1.11.2.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="container-fluid">
  <div class="container main-body">

  </div>
</div>

</body>
</html>

<style>
  /*add custom page styles*/
</style>